<div class="legel-text">
    <p>Blue Cross and Blue Shield of Louisiana is an independent licensee of the Blue Cross and Blue Shield Association and incorporated as Louisiana Health Service & Indemnity Company. Copyright © 2020 Blue Cross and Blue Shield of Louisiana. Blue Cross and Blue Shield of Louisiana is licensed to sell products only in the state of Louisiana.</p>
    <p>External links open in new windows to websites Blue Cross and Blue Shield of Louisiana does not control.</p>
    <p>Blue Cross and Blue Shield of Louisiana and its subsidiaries, HMO Louisiana, Inc. and Southern National Life Insurance Company, Inc., comply with applicable federal civil rights laws and do not exclude people or treat them differently on the basis of race, color, national origin, age, disability or sex. More Information</p>

    {{> molecules-language-nav }}
</div>