
<h3 class="pl_title">Primary</h3>
{{> molecules-page-header headerStyleModifier="ph-primary"}}

<h3 class="pl_title">Secondary</h3>
{{> molecules-page-header headerStyleModifier="ph-secondary"}}

<h3 class="pl_title">with Image</h3>
{{> molecules-page-header headerStyleModifier="ph-img"}}