<footer class="c-footer" role="contentinfo">
<div class="footer">
	<div class="footer-top">
		{{#> molecules-layout-container }}

			{{> molecules-footer-nav }}
			<hr>
			<div class="text-center">
				{{> molecules-legal-text }}
			</div>
			<div class="steamboat">
				<img src="../../images/steamboat.svg" alt="">
			</div>
		
		{{/ molecules-layout-container}}
	</div>
	
	<div class="footer-bottom">
		{{#> molecules-layout-container }}

			{{> organisms-social-links }}
			{{> organisms-appstore-links }}
			
		{{/ molecules-layout-container}}
	</div>
</div>
</footer><!--end c-footer-->
