{{> organisms-header }}
<main>
{{> molecules-page-header headerStyleModifier="ph-primary"}}
    {{#> molecules-layout-container }}

        {{> organisms-cards styleModifier="col-sm-4" }}

    {{/ molecules-layout-container}}
</main>
{{> organisms-footer }}