{{#> molecules-layout-container }}
<small>{{{ meta.description }}}</small>
<ul>
    {{# items }}
    <li style="font-size: {{ value }}">{{ name }}: {{ value }} </li>
    {{/ items }}
</ul>
{{/ molecules-layout-container}}