Consistent use of a grid system provides the foundation for harmoniously and consistently positioning elements onscreen. Designing to the grid helps create an experience that facilitates understanding and brings order to the page.

<div class="container {{styleModifier}}">
    <div class="row">
        <div class="col-sm-12"><div class="sg-grid-item"></div></div>
        <div class="col-sm-6"><div class="sg-grid-item"></div></div>
        <div class="col-sm-6"><div class="sg-grid-item"></div></div>
        <div class="col-sm-4"><div class="sg-grid-item"></div></div>
        <div class="col-sm-4"><div class="sg-grid-item"></div></div>
        <div class="col-sm-4"><div class="sg-grid-item"></div></div>
        <div class="col-sm-3"><div class="sg-grid-item"></div></div>
        <div class="col-sm-3"><div class="sg-grid-item"></div></div>
        <div class="col-sm-3"><div class="sg-grid-item"></div></div>
        <div class="col-sm-3"><div class="sg-grid-item"></div></div>
        <div class="col-sm-2"><div class="sg-grid-item"></div></div>
        <div class="col-sm-2"><div class="sg-grid-item"></div></div>
        <div class="col-sm-2"><div class="sg-grid-item"></div></div>
        <div class="col-sm-2"><div class="sg-grid-item"></div></div>
        <div class="col-sm-2"><div class="sg-grid-item"></div></div>
        <div class="col-sm-2"><div class="sg-grid-item"></div></div>
    </div>
</div>