<div class="nav-footer">
    <div class="row">
    {{# footerNav }}
        {{# subNav }}
            <div class="col-sm-3">
                {{> molecules-v-nav }}
            </div>
        {{/ subNav }}
    {{/ footerNav }}
    </div>
</div>