<ul class="nav sm">
    <li>{{> molecules-button styleModifier="btn-default" buttonIcon="twitter" buttonText=""}}</li>
    <li>{{> molecules-button styleModifier="btn-default" buttonIcon="facebook" buttonText=""}}</li>
    <li>{{> molecules-button styleModifier="btn-default" buttonIcon="youtube" buttonText=""}}</li>
    <li>{{> molecules-button styleModifier="btn-default" buttonIcon="pinterest" buttonText=""}}</li>
    <li>{{> molecules-button styleModifier="btn-default" buttonIcon="linkedin" buttonText=""}}</li>
    <li>{{> molecules-button styleModifier="btn-default" buttonIcon="google" buttonText=""}}</li>
    <li>{{> molecules-button styleModifier="btn-default" buttonIcon="instagram" buttonText=""}}</li>
    <li>{{> molecules-button styleModifier="btn-default" buttonIcon="glassdoor" buttonText=""}}</li>
</ul>