.jumbotron{border-radius:0;}

.ph-primary{
    background:$color-brand-blue-dark;
    color:$color-neutral-white;
}

.ph-img{background:url(https://picsum.photos/1200/300) no-repeat center center; background-size:cover;
    
}