{{> organisms-header }}

<main>
    {{> molecules-page-header headerStyleModifier="ph-primary"}}
    {{#> molecules-layout-container }}
        {{> organisms-text-passage }}

    {{/ molecules-layout-container}}

</main>

{{> organisms-footer }}