{{#> molecules-layout-container }}
    <div class="btn-group">
        {{> molecules-button styleModifier="btn-primary active"}}
        {{> molecules-button styleModifier="btn-primary"}}
        {{> molecules-button styleModifier="btn-primary"}}
    </div>
{{/ molecules-layout-container}}

